<!DOCTYPE html>
<html ng-app="HeatmapElastic">
<head>
  <title>D3.js Calendar Heatmap for AngularJS</title>

  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/lib/directives/heatmap/location.css">
</head>
<body ng-controller="locationCtrl as vm">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3>ElasticSearch & D3 - Heatmap</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-primary" ng-click="vm.getData()" ng-disabled="vm.loader.data"><i class="glyphicon" ng-class="{'glyphicon-refresh fast-right-spinner': vm.loader.data, 'glyphicon-inbox': !vm.loader.data}"></i> Load Data</button>
                  <button class="btn btn-success" ng-if="!!vm.data.location" ng-click="vm.downloadData()" ng-disabled="vm.loader.download"><i class="glyphicon" ng-class="{'glyphicon-refresh fast-right-spinner': vm.loader.download, 'glyphicon-download': !vm.loader.data}"></i> Download</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <location-heatmap data="vm.data.location"></location-heatmap>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/bower_components/angular/angular.min.js" charset="utf-8"></script>
  <script src="/bower_components/d3/d3.min.js" charset="utf-8"></script>

  <script src="/lib/directives/heatmap/location.js"></script>
  <script src="/module/location/location.controller.js"></script>
</body>
</html>